.navbar {
    background-color: black;
}

.navbar-dark .navbar-brand {
    color: red;
}

.container {
    padding-top: 50px;
}

.error {
    color: red;
    font-size: small;
    font-style: italic;
}